/*~---------------------------------------------------------------------------*/
/*                        _      _                 _   _                      */
/*                    ___| |_ __| |_ __ ___   __ _| |_| |_                    */
/*                   / __| __/ _` | '_ ` _ \ / _` | __| __|                   */
/*                   \__ \ || (_| | | | | | | (_| | |_| |_                    */
/*                   |___/\__\__,_|_| |_| |_|\__,_|\__|\__|                   */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : nuclear_rain                                                  */
/*  Date      : Mar 14, 2020                                                  */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt 2020                                                  */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*---------------------------------------------------------------------------~*/
#canvas_div {
  position: fixed;
  top:     0%;
  bottom:  0%;
  right:   0%;
  left:    0%;
}

body {
  background-color: black;
  
  margin: 0;
  padding: 0;
}